
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Lato', sans-serif;
}

:root{
    --color-main:rgb(100, 70, 235);
    --color-main-dark:rgb(83, 54, 209);
    --color-main-ligth:rgb(119, 88, 255);

    --color-second:#7540f1;
    --color-shadow: rgb(153, 153, 153);
    --color-black-transparent: rgba(78, 78, 78, 0.548);
}

body {
    background: #e2e2e2;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
    outline: none;
    font-size: 15px;
}

.message{
    padding: 10px;
    border-radius:5px;
    font-weight: 500;
    text-align: center;
    font-size:14px;
}

.msg-error{
    background: rgb(241, 70, 92);
    color: #FFF;
}


/* butons */

.btn{
    border:0;
}

.btn-primary{
    background: var(--color-main-dark);
}

.btn-primary:hover{
    background: var(--color-main);
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

